<div class="container">

  #if($heros.size()==0)
  <div class="nohero">
    <h1>Heros will apear here</h1>
  </div>
    #else
    <h1>All Heros</h1>
    #foreach($hero in $heros)
      <div class="col-md-3 hero">
        <h3>Name: $hero.getName()</h3>
        <p>Age: $hero.getAge()</p>
        <p>Superpowers: $hero.getSuperpowers()</p>
        <p>Weakness: $hero.getWeakness()</p>
      </div>
    #end
  #end

</div>
